//---HEADER VARIABLES---//
$nav-height: 12vh;
$font-header: "Play", sans-serif;
$logo-header-size: 2.5rem;
$logo-header-weight: 900;
$items-header-size: 1.8rem;
$items-header-weight: 400;
$items-header-color: #ffff;

//---COLORS PAGES---//
$main-color: #151c37;
$background-pages: #ecf3fe;

//---FONTS USE---///
$font-family-base: "Roboto", sans-serif;
