.footer {
  background-color: $main-color;
  width: 100%;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 25vh;
  }

  &__title {
    font-family: $section-titles-font;
    color: $background-pages;
    font-size: $section-titles-size;
    font-weight: $section-titles-weight;
    letter-spacing: 2px;
    padding-left: 30px;
    padding-right: 30px;
    align-self: center;
  }

  &__nav {
    font-family: $font-header;
    font-size: $info-games-price-size;
    font-weight: $items-header-weight;
    color: $background-pages;
    padding-top: 10px;
    padding-right: 50px;
    list-style: none;
    text-decoration: none;
    position: relative;
  }

  &__list {
    font-family: $font-header;
    font-size: 1.2rem;
    font-weight: $items-header-weight;
    line-height: 2rem;
    padding-top: 10px;
    color: $background-pages;
  }

  &__decoration-info {
    color: inherit;
    text-decoration: none;
    list-style: none;
  }

  &__icons {
    position: absolute;
    padding-top: 4px;
  }

  &__contact {
    padding-left: 50px;
  }

  .social-icons {
    position: relative;
    bottom: -19px;
    left: 1px;

    &__instagram {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .payment-icons {
    display: flex;
    justify-content: space-around;
    position: relative;

    &__amex {
      position: absolute;
      width: 60px;
      left: 0px;
      bottom: -60px;
    }

    &__visa {
      position: absolute;
      width: 60px;
      left: 85px;
      bottom: -60px;
    }

    &__masterC {
      position: absolute;
      width: 75px;
      left: 163px;
      bottom: -53px;
    }
  }
}

//--RESPONSIVE MOBILE--//
@media (max-width: $sm) {
  .footer {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 55vh;
    }

    &__title {
      display: none;
    }

    &__nav {
      font-family: $font-header;
      font-size: 1.5rem;
      font-weight: $items-header-weight;
      color: $background-pages;
      padding-top: 10px;
      padding-right: 15px;
      list-style: none;
      text-decoration: none;
      padding-left: 11px;
    }

    &__list {
      font-family: $font-header;
      font-size: 1.2rem;
      font-weight: $items-header-weight;
      line-height: 2rem;
      padding-top: 10px;
      color: $background-pages;
    }

    &__decoration-info {
      color: inherit;
      text-decoration: none;
      list-style: none;
    }

    &__icons {
      position: absolute;
      padding-top: 4px;
    }

    &__contact {
      padding-left: 50px;
    }
  }

  .social-icons {
    position: relative;
    bottom: -19px;
    left: 1px;

    &__instagram {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .payment-icons {
    display: none !important;
  }
}

//--RESPONSIVE TABLET--//
@media only screen and (min-width: $sm) and (max-width: $lg) {
  .footer {
    &__container {
      display: flex;
      justify-content: space-between;
      height: 35vh;
      width: 100%;
    }

    &__title {
      display: none;
    }

    &__nav {
      font-family: $font-header;
      font-size: 1.5rem;
      font-weight: $items-header-weight;
      color: $background-pages;
      padding-top: 10px;
      padding-right: 150px;
      list-style: none;
      text-decoration: none;
      padding-left: 11px;
    }

    &__list {
      font-family: $font-header;
      font-size: 1.2rem;
      font-weight: $items-header-weight;
      line-height: 2rem;
      padding-top: 10px;
      color: $background-pages;
    }

    &__decoration-info {
      color: inherit;
      text-decoration: none;
      list-style: none;
    }

    &__icons {
      position: absolute;
      padding-top: 4px;
    }

    &__contact {
      padding-left: 50px;
    }

    .social-icons {
      position: relative;
      bottom: 150px;
      left: 430px;

      &__instagram {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .payment-icons {
      display: none;
    }
  }
}

@media (min-width: $hd) {
  .social-icons {
    position: relative;
    bottom: -25px;
    left: 1px;

    &__instagram {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .payment-icons {
    display: flex;
    justify-content: space-around;
    position: relative;

    &__amex {
      position: absolute;
      width: 60px;
      left: -567px;
      bottom: -19px;
    }

    &__visa {
      position: absolute;
      width: 60px;
      left: -480px;
      bottom: -19px;
    }

    &__masterC {
      position: absolute;
      width: 75px;
      left: -402px;
      bottom: -13px;
    }
  }
}
