.main-nav {
  //position: fixed;
  background-color: $main-color;
  width: 100%;
  height: $nav-height;

  &__list {
    height: $nav-height;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: $no-decorations;
    color: inherit;
    text-decoration: $no-decorations;
  }

  &__logo {
    background: radial-gradient(#19d3e8, #af2cff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: $font-header;
    font-size: $logo-header-size;
    font-weight: $logo-header-weight;
    letter-spacing: 2px;
    list-style: $no-decorations;
    color: inherit;
    text-decoration: $no-decorations;
  }

  &__link {
    font-family: $font-header;
    font-size: $items-header-size;
    font-weight: $items-header-weight;
    list-style: $no-decorations;
    color: inherit;
    text-decoration: $no-decorations;
    color: $items-header-color;
  }

  &__link:hover {
    font-weight: 700;
  }

  &__searchBar {
    background-color: #6d707ec0;
    font-size: 1.5rem;
    font-family: "Play";
    height: 46px;
    width: 550px;
    border-bottom-left-radius: 15px;
  }
  &__header-icons {
    padding-top: 5px;
    width: 100%;
  }
  &__header-icons--searchIcon {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  &__search {
    position: relative;
  }
}

.sec-nav {
  background-color: #c4c4c4;
  width: 100%;
  height: 8vh;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &__item--separation {
    padding-left: 200px;
    padding-right: 200px;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}

//--RESPONSIVE MOBILE--//
@media (max-width: $sm) {
  .main-nav {
    height: $nav-height-mob;
    text-align: center;

    &__list {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    &__logo {
      font-size: 1.5rem;
    }

    &__link {
      display: none;
    }

    &__searchBar {
      height: 25px;
      width: 125%;
      border-radius: 5px;
      font-size: 1rem;
    }

    &__header-icons {
      display: none;
    }

    &__header-icons--profile {
      position: absolute;
      top: 53px;
      left: 24px;
      width: 1.5rem;
    }

    &__header-icons--searchIcon {
      width: 1.25rem;
      top: 2px;
      left: 221px;
    }

    &__menu {
      position: relative;
    }

    &__header-icons--menu {
      position: absolute;
      width: 22px;
      top: -95px;
      right: -170px;
    }
  }

  .sec-nav {
    display: none;
  }
}

//--RESPONSIVE TABLET--//
@media only screen and (min-width: $sm) and (max-width: $lg) {
  .main-nav {
    height: 12vh;
    text-align: center;

    &__list {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    &__logo {
      font-size: 2rem;
    }

    &__link {
      display: none;
    }

    &__searchBar {
      height: 31px;
      width: 360px;
      border-radius: 5px;
      font-size: 1rem;
    }

    &__header-icons {
      display: none;
    }

    &__header-icons--profile {
      position: absolute;
      top: 53px;
      left: 55px;
      width: 2rem;
    }

    &__header-icons--searchIcon {
      width: 1.4rem;
      top: 3px;
      left: 331px;
    }

    &__menu {
      position: relative;
    }

    &__header-icons--menu {
      position: absolute;
      width: 30px;
      top: -95px;
      right: -290px;
    }
  }

  .sec-nav {
    display: none;
  }
}

@media (min-width: $lg) {
  .main-nav {
    &__header-icons--menu {
      display: none;
    }
    &__header-icons--profile {
      display: none;
    }
  }
}

@media (min-width: $hd) {
  .main-nav {
    &__searchBar {
      background-color: #6d707ec0;
      font-size: 1.5rem;
      font-family: "Play";
      height: 46px;
      width: 630px;
      border-bottom-left-radius: 15px;
    }

    &__header-icons--searchIcon {
      position: absolute;
      top: 4px;
      right: 8px;
    }

    &__header-icons--menu {
      display: none;
    }
    &__header-icons--profile {
      display: none;
    }
  }

  .sec-nav {
    background-color: #c4c4c4;
    width: 100%;
    height: 6vh;
  }

  .container {
    &__image-hd {
      width: 100%;
    }
  }

  .bannerBackgroundImage {
    display: none;
  }
}
