.main-nav {
  background-color: $main-color;
  width: 100%;
  height: $nav-height;

  &__list {
    height: $nav-height;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: $no-decorations;
    color: inherit;
    text-decoration: $no-decorations;
  }

  &__logo {
    background: radial-gradient(#19d3e8, #af2cff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: $font-header;
    font-size: $logo-header-size;
    font-weight: $logo-header-weight;
    letter-spacing: 2px;
    padding: 0 30px 0 30px;
    list-style: $no-decorations;
    color: inherit;
    text-decoration: $no-decorations;
  }

  &__link {
    font-family: $font-header;
    font-size: $items-header-size;
    font-weight: $items-header-weight;
    padding: 0 30px 0 30px;
    list-style: $no-decorations;
    color: inherit;
    text-decoration: $no-decorations;
    color: $items-header-color;
  }
}
