.navbar-brand {
  background: radial-gradient(#19d3e8, #af2cff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  font-family: $font-family-base;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 0 25px;
}

.btn {
  display: none;
}

.brands-container {
  display: none;
}

.catalog {
  display: none;
}

.form-control {
  position: relative;
}

.nav-item {
  font-family: $font-family-base;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ecf3fe;
}

.form-control {
  border: 0;
  background-color: #6d707ec0;
  border-radius: 0.25rem;
  border-bottom-left-radius: 15px;
  padding: 0.675rem 10rem;
}

.bi-search {
  font-size: 1.8rem;
  color: #ecf3fe;
  position: absolute;
  top: 11px;
  right: 65px;
}

.bi-person-fill {
  font-size: 2.5rem;
  color: #ecf3fe;
  position: absolute;
  top: 5px;
  right: 250px;
}

.bi-heart-fill {
  font-size: 2rem;
  color: #ecf3fe;
  position: absolute;
  top: 11px;
  right: 150px;
}

.bi-bag-fill {
  font-size: 1.9rem;
  color: #ecf3fe;
  position: absolute;
  top: 12px;
  right: 50px;
}

/*Styles brands container*/
.sec-nav {
  background-color: #c4c4c4;
  width: 100%;
  height: 7vh;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &__item--separation {
    padding: 0 300px;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}

.bi-playstation {
  font-size: 2.95rem;
}

.bi-xbox {
  font-size: 2.5rem;
}

.bi-nintendo-switch {
  font-size: 2.5rem;
}

//--RESPONSIVE MOBILE--//
@media screen and (max-width: $sm) {
  .sec-nav {
    display: none;
  }

  .btn {
    display: none;
  }
  .catalog {
    display: block;
  }

  .dropdown {
    display: none;
  }

  .navbar-brand {
    background: radial-gradient(#19d3e8, #af2cff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: $font-family-base;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 0;
  }

  .nav-item {
    font-family: $font-family-base;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ecf3fe;
  }

  .nav-link {
    text-align: center;
  }

  .form-control {
    display: none;
  }

  .bi-search {
    display: none;
  }

  .nav-tools {
    display: none;
  }

  .brands-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  .nav-brand {
    color: #ecf3fe;
  }

  .bi-xbox {
    padding: 0 50px;
  }
}

//--RESPONSIVE TABLET--//
@media only screen and (min-width: $sm) and (max-width: $lg) {
  .sec-nav {
    display: none;
  }

  .btn {
    display: none;
  }
  .catalog {
    display: block;
  }

  .dropdown {
    display: none;
  }

  .navbar-brand {
    background: radial-gradient(#19d3e8, #af2cff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: $font-family-base;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 0;
  }

  .nav-item {
    font-family: $font-family-base;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ecf3fe;
  }

  .nav-link {
    text-align: center;
  }

  .form-control {
    display: none;
  }

  .bi-search {
    display: none;
  }

  .nav-tools {
    display: none;
  }

  .brands-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  .nav-brand {
    color: #ecf3fe;
  }

  .bi-xbox {
    padding: 0 50px;
  }
}

@media (min-width: $lg) {
  .form-control {
    border: 0;
    background-color: #6d707ec0;
    border-radius: 0.25rem;
    border-bottom-left-radius: 15px;
    padding: 0.675rem 3rem;
  }

  .navbar-brands {
    color: #ecf3fe;
  }

  .bi-search {
    font-size: 1.8rem;
    color: #ecf3fe;
    position: absolute;
    top: 16px;
    right: 65px;
  }

  .bi-person-fill {
    font-size: 2.5rem;
    color: #ecf3fe;
    position: absolute;
    top: 8px;
    right: 590px;
  }

  .bi-heart-fill {
    font-size: 2rem;
    color: #ecf3fe;
    position: absolute;
    top: 12px;
    right: 500px;
  }

  .bi-bag-fill {
    font-size: 1.9rem;
    color: #ecf3fe;
    position: absolute;
    top: 12px;
    right: 410px;
  }
  .sec-nav {
    height: 7vh;
  }
}

@media (min-width: $hd) {
  .nav-brand {
    display: none;
  }

  .main-nav {
    &__searchBar {
      background-color: #6d707ec0;
      font-size: 1.5rem;
      font-family: "Play";
      height: 46px;
      width: 630px;
      border-bottom-left-radius: 15px;
    }

    &__header-icons--searchIcon {
      position: absolute;
      top: 4px;
      right: 8px;
    }

    &__header-icons--menu {
      display: none;
    }
    &__header-icons--profile {
      display: none;
    }
  }

  .sec-nav {
    background-color: #c4c4c4;
    width: 100%;
    height: 6vh;
  }
}
