.container {
  &__image-hd {
    display: none;
  }
}

.welcome {
  &__title {
    text-align: center;
    font-family: $font-family-titles;
    font-size: $titles-size;
    letter-spacing: $titles-letter-spacing;
    font-weight: $titles-weight;
  }

  &-title {
    &__sub--banner {
      position: absolute;
      top: 940px;
      color: #ffff;
      text-align: center;
      font-family: $font-family-titles;
      font-size: $texts-size;
      font-weight: $texts-weight;
      padding: 0 200px;
    }
  }

  &__title-sub {
    text-align: center;
    font-family: $font-family-titles;
    font-size: $subtitles-size;
    font-weight: $subtitles-weight;
    padding: 0 133px 20px;
  }
  &__sub--banner {
    position: absolute;
    top: 945px;
    color: #ffff;
    text-align: center;
    font-family: $font-family-titles;
    font-size: $texts-size;
    font-weight: $texts-weight;
    padding: 0 200px;
  }
}

.title-banner {
  position: absolute;
  top: 355px;
  left: 45px;
  text-align: center;
  color: #ffff;
  font-family: $font-family-titles;
  font-size: $titles-size;
  font-weight: $titles-weight;
  padding: 0 255px;
}

.games-banner {
  position: absolute;
  top: 515px;
  left: 470px;
}

.favorite-games {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
}

.sections-titles {
  font-family: $section-titles-font;
  font-size: $section-titles-size;
  font-weight: $section-titles-weight;
  color: $section-titles-color;
  margin-top: 30px;
  margin-bottom: 45px;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 10px solid #6e3dc8;
}

.popular-games {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }

  &__images {
    position: absolute;
    top: 1372px;
  }

  &__items-card1 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 355px;
    transition: height 0.4s;
  }

  &__items-card1:hover {
    height: 410px;
  }

  &__items-card2 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 355px;
    transition: height 0.4s;
  }

  &__items-card2:hover {
    height: 410px;
  }

  &__items-card3 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 355px;
    transition: height 0.4s;
  }

  &__items-card3:hover {
    height: 410px;
  }

  &__items-card4 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 355px;
    transition: height 0.4s;
  }

  &__items-card4:hover {
    height: 410px;
  }

  &__items-card5 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 355px;
    transition: height 0.4s;
  }

  &__items-card5:hover {
    height: 410px;
  }

  &__items-card6 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 355px;
    transition: height 0.4s;
  }

  &__items-card6:hover {
    height: 410px;
  }

  &__edition {
    text-align: center;
    font-family: $info-games-font;
    font-weight: $info-games-weight;
    font-size: $info-games-size;
    color: $info-games-color;
    padding-top: 240px;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  &__categories-items {
    position: absolute;
    margin-top: 40px;
    margin-left: 4px;
    background-color: #c4c4c452;
    border-radius: 5px;
    width: 60px;
    font-family: $info-games-font;
    color: $info-games-color;
    font-weight: $info-games-weight;
    font-size: $info-games-size;
    text-align: center;
    letter-spacing: 1px;
  }

  &__categories-items--secondary {
    margin-top: 40px;
    margin-left: 66px;
    position: absolute;
    background-color: #c4c4c452;
    border-radius: 5px;
    width: 100px;
    font-family: $info-games-font;
    color: $info-games-color;
    font-weight: $info-games-weight;
    font-size: $info-games-size;
    text-align: center;
    letter-spacing: 1px;
  }

  &__price {
    font-family: $info-games-font;
    color: $info-games-color;
    font-weight: $info-games-weight;
    font-size: $info-games-price-size;
    text-align: center;
    padding-top: 50px;
  }

  &__detailsBtn {
    cursor: pointer;
    font-family: $info-games-font;
    color: $background-pages;
    font-weight: $info-games-weight;
    font-size: 1.3rem;
    text-align: center;
    border: 1.5px solid $background-pages;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 30px;
    width: 60%;
    padding: 5px;
    transition: all 0.5s ease;
  }

  &__detailsBtn:hover,
  &__detailsBtn:focus {
    background-color: $background-pages;
    color: $main-color;
  }
}

.hot-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__card1 {
    color: white;
    background: url("/img/xbox-bethesda\ 2.png") center / cover no-repeat;
    padding: 10rem 1rem 0;
    width: 35%;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
  }

  &:hover,
  &:focus-within {
    transform: scale(1.05);
  }

  &__content {
    padding: 1.5rem;
    background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  }

  &__content-title {
    text-decoration: underline;
    text-decoration-color: lightgray;
  }

  &__content-body {
    color: rgba(255, 255, 255, 0.8);
  }

  @media (hover) {
    .hot-news {
      &__card-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
      }
    }
    .card:hover .card-content {
      transform: translateY(0);
      transition-delay: 500ms;
    }
  }

  &__button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.2rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease;

    &:hover,
    &:focus {
      background-color: white;
      color: black;
    }
  }
}

.newsletter {
  &__image {
    background-image: url("/img/Newsletter_Home.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 18vh;
    width: 100%;
    margin-top: 30px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  &__title {
    font-family: $newsletter-title-font;
    font-size: $newsletter-title-size;
    font-weight: $newsletter-title-weight;
    text-align: center;
    line-height: 1.5em;
    width: 25%;
    padding-top: 25px;
  }

  &__text {
    font-family: $newsletter-title-font;
    font-size: $newsletter-text-size;
    font-weight: $newsletter-text-weight;
    text-align: center;
    width: 60%;
  }

  &__email {
    position: absolute;
    top: 103px;
    left: 43.8%;
    font-family: $newsletter-title-font;
    font-weight: 300;
    font-size: 1.3rem;
    border: 1px solid gray;
    width: 685px;
    height: 37px;
    border-radius: 5px;
  }
}

//--RESPONSIVE MOBILE--//
@media (max-width: $sm) {
  .container__image-hd {
    display: none;
  }

  .bannerBackgroundImage {
    display: none;
  }
  .banner-image-mobile {
    width: 100%;
  }

  .welcome {
    &__title {
      text-align: center;
      font-family: $font-family-titles;
      font-size: 1.8rem;
      letter-spacing: $titles-letter-spacing;
      font-weight: $titles-weight;
    }

    &__title-sub {
      text-align: center;
      font-family: $font-family-titles;
      font-size: 1.2rem;
      font-weight: $subtitles-weight;
      padding: 0 10px 10px;
    }
  }

  .container {
    position: relative;
  }

  .welcome-title {
    &__sub--banner {
      position: absolute;
      top: 440px;
      color: #ffff;
      text-align: center;
      font-family: $font-family-titles;
      font-size: 1.5rem;
      font-weight: $texts-weight;
      padding: 0 50px;
    }
  }

  .title-banner {
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
    color: #ffff;
    font-family: $font-family-titles;
    font-size: 1.5rem;
    font-weight: $titles-weight;
    padding: 0 30px;
  }

  .games-banner {
    position: absolute;
    top: 130px;
    left: 10px;
    width: 95%;
  }

  .favorite-games {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      position: relative;
    }

    &__arrow-left {
      position: absolute;
      top: 70px;
      left: 0;
    }

    &__arrow-right {
      position: absolute;
      top: 70px;
      right: 0;
    }

    &__arrow-left--popular {
      position: absolute;
      top: 180px;
      left: 0;
    }

    &__arrow-right--popular {
      position: absolute;
      top: 180px;
      right: 0;
    }

    &__game1 {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__game2 {
      display: none;
    }

    &__game3 {
      display: none;
    }

    &__game4 {
      display: none;
    }
  }

  .sections-titles {
    font-family: $section-titles-font;
    font-size: 1.8rem;
    font-weight: $section-titles-weight;
    color: $section-titles-color;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 15px;
    padding-left: 10px;
    border-left: 8px solid #6e3dc8;
  }

  .popular-games {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      position: relative;
    }

    &__images {
      position: absolute;
      width: 144px;
      top: 0;
    }

    &__icons-card1 {
      position: absolute;
      top: 310px;
      left: 56px;
    }

    &__icons--bag-card1 {
      position: absolute;
      top: 310px;
      left: 105px;
    }

    &__icons-card2 {
      position: absolute;
      top: 310px;
      left: 220px;
    }

    &__icons--bag-card2 {
      position: absolute;
      top: 310px;
      left: 273px;
    }

    &__items-card1 {
      background-color: $main-color;
      border-radius: 15px;
      width: 144px;
      height: 355px;
      transition: height 0.4s;
    }

    &__items-card2 {
      background-color: $main-color;
      border-radius: 15px;
      width: 144px;
      height: 355px;
      transition: height 0.4s;
    }

    &__items-card3 {
      display: none;
    }

    &__items-card4 {
      display: none;
    }

    &__items-card5 {
      display: none;
    }

    &__items-card6 {
      display: none;
    }

    &__edition {
      text-align: center;
      font-family: $info-games-font;
      font-weight: $info-games-weight;
      font-size: 0.9rem;
      color: $info-games-color;
      padding-top: 203px;
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
    }

    &__categories-items {
      position: absolute;
      margin-top: 40px;
      margin-left: 4px;
      background-color: #c4c4c452;
      border-radius: 5px;
      width: 60px;
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 0.75rem;
      text-align: center;
      letter-spacing: 1px;
    }

    &__categories-items--secondary {
      margin-top: 52px;
      margin-left: 71px;
      position: absolute;
      background-color: #c4c4c452;
      border-radius: 5px;
      width: 18%;
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 0.75rem;
      text-align: center;
      letter-spacing: 1px;
    }

    &__price {
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 1.2rem;
      text-align: center;
      padding-top: 50px;
      letter-spacing: 2px;
    }

    &__detailsBtn {
      display: none;
    }
  }

  .newsletter {
    &__image {
      background-image: url("/img/Newsletter'mobile.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 16vh;
      width: 100%;
    }

    &__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      position: relative;
    }

    &__title {
      font-family: $newsletter-title-font;
      font-size: 1.15rem;
      font-weight: $newsletter-title-weight;
      text-align: center;
      line-height: 25px;
      width: 91%;
      padding-top: 8px;
      padding-bottom: 5px;
    }

    &__text {
      font-family: $newsletter-title-font;
      font-size: 1rem;
      font-weight: $newsletter-text-weight;
      text-align: left;
      width: 91%;
    }

    &__email {
      position: absolute;
      top: 130px;
      left: 4.8%;
      font-family: $newsletter-title-font;
      font-weight: 300;
      font-size: 1rem;
      border: 1px solid gray;
      width: 320px;
      height: 22px;
      border-radius: 5px;
    }
  }
}

//--RESPONSIVE TABLET--//
@media only screen and (min-width: $sm) and (max-width: $lg) {
  .container__image-hd {
    display: none;
  }

  .bannerBackgroundImage {
    display: none;
  }

  .banner-image-mobile {
    width: 100%;
    height: 860px;
  }

  .welcome {
    &__title {
      text-align: center;
      font-family: $font-family-titles;
      font-size: 1.8rem;
      letter-spacing: $titles-letter-spacing;
      font-weight: $titles-weight;
    }

    &__title-sub {
      text-align: center;
      font-family: $font-family-titles;
      font-size: 1.2rem;
      font-weight: $subtitles-weight;
      padding: 0 10px 10px;
    }
  }

  .container {
    position: relative;
  }

  .welcome-title {
    &__sub--banner {
      position: absolute;
      top: 634px;
      color: #ffff;
      text-align: center;
      font-family: $font-family-titles;
      font-size: 2rem;
      font-weight: $texts-weight;
      padding: 0 50px;
    }
  }

  .title-banner {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffff;
    font-family: $font-family-titles;
    font-size: 2.3rem;
    font-weight: $titles-weight;
    padding: 5px 115px;
  }

  .games-banner {
    position: absolute;
    top: 170px;
    left: 135px;
  }

  .favorite-games {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      position: relative;
    }

    &__arrow-left {
      position: absolute;
      top: 70px;
      left: 0;
    }

    &__arrow-right {
      position: absolute;
      top: 70px;
      right: 0;
    }

    &__arrow-left--popular {
      position: absolute;
      top: 180px;
      left: 0;
    }

    &__arrow-right--popular {
      position: absolute;
      top: 180px;
      right: 0;
    }

    &__game1 {
      width: 100%;
      padding-left: 22px;
    }

    &__game2 {
      width: 100%;
    }

    &__game3 {
      display: none;
    }

    &__game4 {
      display: none;
    }
  }

  .sections-titles {
    font-family: $section-titles-font;
    font-size: 2rem;
    font-weight: $section-titles-weight;
    color: $section-titles-color;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 10px solid #6e3dc8;
  }

  .popular-games {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      position: relative;
    }

    &__images {
      position: absolute;
      width: 144px;
      top: 0;
    }

    &__icons-card1 {
      position: absolute;
      top: 310px;
      left: 110px;
    }

    &__icons--bag-card1 {
      position: absolute;
      top: 310px;
      left: 172px;
    }

    &__icons-card2 {
      position: absolute;
      top: 310px;
      left: 336px;
    }

    &__icons--bag-card2 {
      position: absolute;
      top: 310px;
      left: 395px;
    }

    &__icons-card3 {
      position: absolute;
      top: 310px;
      left: 565px;
    }

    &__icons--bag-card3 {
      position: absolute;
      top: 310px;
      left: 623px;
    }

    &__items-card1 {
      background-color: $main-color;
      border-radius: 15px;
      width: 144px;
      height: 355px;
    }

    &__items-card2 {
      background-color: $main-color;
      border-radius: 15px;
      width: 144px;
      height: 355px;
    }

    &__items-card3 {
      background-color: $main-color;
      border-radius: 15px;
      width: 144px;
      height: 355px;
    }

    &__items-card4 {
      display: none;
    }

    &__items-card5 {
      display: none;
    }

    &__items-card6 {
      display: none;
    }

    &__edition {
      text-align: center;
      font-family: $info-games-font;
      font-weight: $info-games-weight;
      font-size: 0.9rem;
      color: $info-games-color;
      padding-top: 203px;
      padding-bottom: 8px;
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
    }

    &__categories-items {
      position: absolute;
      margin-top: 40px;
      margin-left: 4px;
      background-color: #c4c4c452;
      border-radius: 5px;
      width: 60px;
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 0.75rem;
      text-align: center;
      letter-spacing: 1px;
    }

    &__categories-items--secondary {
      margin-top: 39px;
      margin-left: 71px;
      position: absolute;
      background-color: #c4c4c452;
      border-radius: 5px;
      width: 67px;
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 0.75rem;
      text-align: center;
      letter-spacing: 1px;
    }

    &__price {
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 1.2rem;
      text-align: center;
      padding-top: 50px;
      letter-spacing: 2px;
    }

    &__detailsBtn {
      display: none;
    }
  }

  .newsletter {
    &__image {
      background: url("/img/Newsletter_Home.png") center / cover no-repeat;
      height: 20vh;
      width: 100%;
      margin-top: 30px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }

    &__title {
      font-family: $newsletter-title-font;
      font-size: 1.5rem;
      font-weight: $newsletter-title-weight;
      text-align: center;
      width: 20%;
      padding-top: 10px;
    }

    &__text {
      font-family: $newsletter-title-font;
      font-size: 1.3rem;
      font-weight: $newsletter-text-weight;
      text-align: center;
      width: 60%;
    }

    &__email {
      position: absolute;
      top: 120px;
      left: 292px;
      font-family: $newsletter-title-font;
      font-weight: 300;
      font-size: 1.3rem;
      border: 1px solid gray;
      width: 53%;
      height: 33px;
      border-radius: 5px;
    }
  }

  .sec-nav {
    display: none;
  }
}

@media (min-width: $lg) {
  .banner-image-mobile {
    display: none;
  }

  .favorite-games__arrow-left {
    display: none;
  }

  .favorite-games__arrow-left--popular {
    display: none;
  }

  .favorite-games__arrow-right {
    display: none;
  }

  .favorite-games__arrow-right--popular {
    display: none;
  }

  .popular-games__icons-card1 {
    display: none;
  }

  .popular-games__icons--bag-card1 {
    display: none;
  }

  .popular-games__icons-card2 {
    display: none;
  }

  .popular-games__icons--bag-card2 {
    display: none;
  }

  .popular-games__icons-card3 {
    display: none;
  }

  .popular-games__icons--bag-card3 {
    display: none;
  }
}

@media (min-width: $hd) {
  .container {
    &__image-hd {
      display: block;
      width: 100%;
    }
  }

  .welcome {
    &__title {
      text-align: center;
      font-family: $font-family-titles;
      font-size: 4rem;
      letter-spacing: $titles-letter-spacing;
      font-weight: $titles-weight;
    }

    &-title {
      &__sub--banner {
        position: absolute;
        top: 1180px;
        color: #ffff;
        text-align: center;
        font-family: $font-family-titles;
        font-size: 2.8rem;
        font-weight: $texts-weight;
        padding: 0 200px;
      }
    }

    &__title-sub {
      text-align: center;
      font-family: $font-family-titles;
      font-size: 2.5rem;
      font-weight: $subtitles-weight;
      padding: 0 133px 20px;
    }
  }

  .title-banner {
    position: absolute;
    top: 425px;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffff;
    font-family: $font-family-titles;
    font-size: 4rem;
    font-weight: $titles-weight;
    padding: 0 445px;
  }

  .games-banner {
    position: absolute;
    top: 610px;
    left: 620px;
    right: 0;
    width: 700px;
  }

  .favorite-games {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      width: 100%;
    }

    &__game1 {
      width: 120%;
    }

    &__game2 {
      width: 120%;
    }

    &__game3 {
      width: 120%;
    }

    &__game4 {
      width: 120%;
    }
  }

  .sections-titles {
    font-family: $section-titles-font;
    font-size: $section-titles-size;
    font-weight: $section-titles-weight;
    color: $section-titles-color;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 10px solid #6e3dc8;
  }

  .popular-games {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
    }

    &__images {
      position: absolute;
      top: 1920px;
    }

    &__items-card1 {
      background-color: $main-color;
      border-radius: 15px;
      width: 168px;
      height: 355px;
      transition: height 0.4s;
    }

    &__items-card1:hover {
      height: 410px;
    }

    &__items-card2 {
      background-color: $main-color;
      border-radius: 15px;
      width: 168px;
      height: 355px;
      transition: height 0.4s;
    }

    &__items-card2:hover {
      height: 410px;
    }

    &__items-card3 {
      background-color: $main-color;
      border-radius: 15px;
      width: 168px;
      height: 355px;
      transition: height 0.4s;
    }

    &__items-card3:hover {
      height: 410px;
    }

    &__items-card4 {
      background-color: $main-color;
      border-radius: 15px;
      width: 168px;
      height: 355px;
      transition: height 0.4s;
    }

    &__items-card4:hover {
      height: 410px;
    }

    &__items-card5 {
      background-color: $main-color;
      border-radius: 15px;
      width: 168px;
      height: 355px;
      transition: height 0.4s;
    }

    &__items-card5:hover {
      height: 410px;
    }

    &__items-card6 {
      background-color: $main-color;
      border-radius: 15px;
      width: 168px;
      height: 355px;
      transition: height 0.4s;
    }

    &__items-card6:hover {
      height: 410px;
    }

    &__edition {
      text-align: center;
      font-family: $info-games-font;
      font-weight: $info-games-weight;
      font-size: $info-games-size;
      color: $info-games-color;
      padding-top: 240px;
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
    }

    &__categories-items {
      position: absolute;
      margin-top: 40px;
      margin-left: 4px;
      background-color: #c4c4c452;
      border-radius: 5px;
      width: 60px;
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: $info-games-size;
      text-align: center;
      letter-spacing: 1px;
    }

    &__categories-items--secondary {
      margin-top: 40px;
      margin-left: 66px;
      position: absolute;
      background-color: #c4c4c452;
      border-radius: 5px;
      width: 100px;
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: $info-games-size;
      text-align: center;
      letter-spacing: 1px;
    }

    &__price {
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: $info-games-price-size;
      text-align: center;
      padding-top: 50px;
    }

    &__detailsBtn {
      cursor: pointer;
      font-family: $info-games-font;
      color: $background-pages;
      font-weight: $info-games-weight;
      font-size: 1.3rem;
      text-align: center;
      border: 1.5px solid $background-pages;
      border-radius: 3px;
      margin-top: 20px;
      margin-left: 30px;
      width: 60%;
      padding: 5px;
      transition: all 0.5s ease;
    }

    &__detailsBtn:hover,
    &__detailsBtn:focus {
      background-color: $background-pages;
      color: $main-color;
    }
  }

  .newsletter {
    &__image {
      background-image: url("/img/Newsletter_Home.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 20vh;
      width: 100%;
      margin-top: 30px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }

    &__title {
      font-family: $newsletter-title-font;
      font-size: 2.5rem;
      font-weight: $newsletter-title-weight;
      text-align: center;
      width: 25%;
    }

    &__text {
      font-family: $newsletter-title-font;
      font-size: 2rem;
      font-weight: $newsletter-text-weight;
      text-align: center;
      width: 60%;
    }

    &__email {
      position: absolute;
      margin-top: 30px;
      left: 785px;
      font-family: $newsletter-title-font;
      font-weight: 300;
      font-size: 1.3rem;
      border: 1px solid gray;
      width: 50%;
      height: 45px;
      border-radius: 5px;
    }
  }
}
