.catalog-subtitle-news {
  font-family: $section-titles-font;
  font-size: $section-titles-size;
  font-weight: $section-titles-weight;
  color: $section-titles-color;
  margin-top: 30px;
  margin-bottom: 45px;
  margin-left: 15px;
  padding-left: 15px;
  text-align: center;
}
