.catalog-title-nintendo {
  font-family: $section-titles-font;
  font-size: $section-titles-size;
  font-weight: $section-titles-weight;
  color: $section-titles-color;
  margin-top: 30px;
  margin-bottom: 45px;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 10px solid #e60012;
}
.catalog-subtitle-nintendo {
  font-family: $section-titles-font;
  font-size: $section-titles-size;
  font-weight: $section-titles-weight;
  color: #e60012;
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: center;
}

.filters-nintendo {
  &__container {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__items {
    margin-left: 20px;
    font-family: $section-titles-font;
    font-size: $newsletter-text-size;
    color: $color-titles;
  }

  &__form-styles {
    border: 1px solid gray;
    background-color: $color-titles;
    width: 130px;
    height: 35px;
    border-radius: 10px;
  }
}

.catalog-games-nintendo {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 20px;
  }

  &__images {
    position: absolute;
    top: 445px;
  }

  &__images-r2 {
    position: absolute;
    top: 840px;
  }

  &__images-r3 {
    position: absolute;
    top: 1235px;
  }

  &__items {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 375px;
  }

  &__items-card1 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 375px;
  }

  &__items-card2 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 375px;
  }

  &__items-card3 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 375px;
  }

  &__items-card4 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 375px;
  }

  &__items-card5 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 375px;
  }

  &__items-card6 {
    background-color: $main-color;
    border-radius: 15px;
    width: 168px;
    height: 375px;
  }

  &__edition {
    text-align: center;
    font-family: $info-games-font;
    font-weight: $info-games-weight;
    font-size: $info-games-size;
    color: $info-games-color;
    padding-top: 245px;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  &__categories-items {
    position: absolute;
    margin-top: 40px;
    margin-left: 4px;
    background-color: #c4c4c452;
    border-radius: 5px;
    width: 60px;
    font-family: $info-games-font;
    color: $info-games-color;
    font-weight: $info-games-weight;
    font-size: $info-games-size;
    text-align: center;
    letter-spacing: 1px;
  }

  &__categories-items--secondary {
    margin-top: 40px;
    margin-left: 66px;
    position: absolute;
    background-color: #c4c4c452;
    border-radius: 5px;
    width: 100px;
    font-family: $info-games-font;
    color: $info-games-color;
    font-weight: $info-games-weight;
    font-size: $info-games-size;
    text-align: center;
    letter-spacing: 1px;
  }

  &__price {
    font-family: $info-games-font;
    color: $info-games-color;
    font-weight: $info-games-weight;
    font-size: $info-games-price-size;
    text-align: center;
    padding-top: 50px;
  }

  &__detailsBtn {
    cursor: pointer;
    font-family: $info-games-font;
    color: $background-pages;
    font-weight: $info-games-weight;
    font-size: 1.3rem;
    text-align: center;
    border: 1.5px solid $background-pages;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 30px;
    width: 60%;
    padding: 5px;
  }
}

.newsletter {
  &__image {
    background-image: url("/img/Newsletter_Home.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 18vh;
    width: 100%;
    margin-top: 30px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  &__title {
    font-family: $newsletter-title-font;
    font-size: $newsletter-title-size;
    font-weight: $newsletter-title-weight;
    text-align: center;
    line-height: 1.5em;
    width: 25%;
    padding-top: 25px;
  }

  &__text {
    font-family: $newsletter-title-font;
    font-size: $newsletter-text-size;
    font-weight: $newsletter-text-weight;
    text-align: center;
    width: 60%;
  }

  &__email {
    position: absolute;
    top: 103px;
    left: 43.8%;
    font-family: $newsletter-title-font;
    font-weight: 300;
    font-size: 1.3rem;
    border: 1px solid gray;
    width: 685px;
    height: 37px;
    border-radius: 5px;
  }
}

//--RESPONSIVE MOBILE--//
@media (max-width: $sm) {
  .catalog-title-nintendo {
    font-family: $section-titles-font;
    font-size: 1.8rem;
    font-weight: $section-titles-weight;
    color: $section-titles-color;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 15px;
    padding-left: 10px;
    border-left: 8px solid #e60012;
  }

  .catalog-subtitle-nintendo {
    font-family: $section-titles-font;
    font-size: 1.4rem;
    font-weight: $section-titles-weight;
    color: #e60012;
    margin-top: 30px;
    padding: 0 27px;
    text-align: center;
  }
  .catalog-games-nintendo {
    &__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      margin-bottom: 20px;
      position: relative;
      width: 100%;
      height: 2050px;
    }

    &__images {
      position: absolute;
      top: 1540px;
      width: 250px;

      &-mob1 {
        position: absolute;
        top: 0px;
        width: 250px;
      }

      &-mob2 {
        position: absolute;
        top: 519px;
        width: 250px;
      }

      &-mob3 {
        position: absolute;
        top: 1031px;
        width: 250px;
      }
    }

    &__images-r2 {
      position: absolute;
      top: 1540px;
      width: 250px;

      &-mob1 {
        position: absolute;
        top: 0px;
        width: 250px;
      }

      &-mob2 {
        position: absolute;
        top: 519px;
        width: 250px;
      }

      &-mob3 {
        position: absolute;
        top: 1031px;
        width: 250px;
      }
    }

    &__images-r3 {
      position: absolute;
      top: 0px;
      width: 250px;

      &-mob1 {
        position: absolute;
        top: 1540px;
        width: 250px;
      }

      &-mob2 {
        position: absolute;
        top: 519px;
        width: 250px;
      }

      &-mob3 {
        position: absolute;
        top: 1031px;
        width: 250px;
      }
    }

    &__items-card1 {
      background-color: $main-color;
      border-radius: 25px;
      width: 250px;
      height: 500px;
    }

    &__items-card2 {
      background-color: $main-color;
      border-radius: 25px;
      width: 250px;
      height: 500px;
    }

    &__items-card3 {
      background-color: $main-color;
      border-radius: 25px;
      width: 250px;
      height: 500px;
    }

    &__items-card4 {
      background-color: $main-color;
      border-radius: 25px;
      width: 250px;
      height: 500px;
    }

    &__items-card5 {
      display: none;
    }

    &__items-card6 {
      display: none;
    }

    &__edition {
      text-align: center;
      font-family: $info-games-font;
      font-weight: $info-games-weight;
      font-size: 1.5rem;
      color: $info-games-color;
      padding-top: 350px;
      padding-bottom: 10px;
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
    }

    &__categories-items {
      position: absolute;
      margin-top: 40px;
      margin-left: 4px;
      background-color: #c4c4c452;
      border-radius: 5px;
      width: 90px;
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 1.3rem;
      text-align: center;
      letter-spacing: 1px;
    }

    &__categories-items--secondary {
      margin-top: 40px;
      margin-left: 100px;
      background-color: #c4c4c452;
      border-radius: 5px;
      width: 140px;
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 1.3rem;
      text-align: center;
      letter-spacing: 1px;
    }

    &__price {
      font-family: $info-games-font;
      color: $info-games-color;
      font-weight: $info-games-weight;
      font-size: 1.8rem;
      text-align: center;
      padding-top: 50px;
      letter-spacing: 2px;
    }
  }
  .newsletter {
    &__image {
      background-image: url("/img/Newsletter'mobile.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 19vh;
      width: 100%;
    }

    &__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      position: relative;
    }

    &__title {
      font-family: $newsletter-title-font;
      font-size: 1.15rem;
      font-weight: $newsletter-title-weight;
      text-align: center;
      line-height: 25px;
      width: 91%;
      padding-top: 8px;
      padding-bottom: 5px;
    }

    &__text {
      font-family: $newsletter-title-font;
      font-size: 1rem;
      font-weight: $newsletter-text-weight;
      text-align: left;
      width: 91%;
    }

    &__email {
      position: absolute;
      top: 130px;
      left: 4.8%;
      font-family: $newsletter-title-font;
      font-weight: 300;
      font-size: 1rem;
      border: 1px solid gray;
      width: 320px;
      height: 22px;
      border-radius: 5px;
    }
  }

  .filters-nintendo {
    &__container {
      margin-top: 10px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
    }

    &__items {
      font-family: $section-titles-font;
      font-size: 1rem;
      color: $color-titles;
    }

    &__form-styles {
      border: 1px solid gray;
      background-color: $color-titles;
      width: 40px;
      height: 25px;
      border-radius: 5px;
    }
  }
}

//--RESPONSIVE TABLET--//
@media only screen and (min-width: $sm) and (max-width: $lg) {
  .catalog-games-nintendo {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      margin-bottom: 20px;
      position: relative;
      width: 100%;
    }

    &__items-card5 {
      display: none;
    }

    &__items-card6 {
      display: none;
    }

    &__images {
      position: absolute;
      top: -2px;
    }

    &__images-r2 {
      position: absolute;
      top: -1px;
    }

    &__images-r3 {
      position: absolute;
      top: -1px;
    }

    &__edition {
      padding-top: 240px;
    }
  }

  .newsletter {
    &__image {
      background: url("/img/Newsletter_Home.png") center / cover no-repeat;
      height: 20vh;
      width: 100%;
      margin-top: 30px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }

    &__title {
      font-family: $newsletter-title-font;
      font-size: 1.5rem;
      font-weight: $newsletter-title-weight;
      text-align: center;
      width: 20%;
      padding-top: 10px;
    }

    &__text {
      font-family: $newsletter-title-font;
      font-size: 1.3rem;
      font-weight: $newsletter-text-weight;
      text-align: center;
      width: 60%;
    }

    &__email {
      position: absolute;
      top: 120px;
      left: 292px;
      font-family: $newsletter-title-font;
      font-weight: 300;
      font-size: 1.3rem;
      border: 1px solid gray;
      width: 53%;
      height: 33px;
      border-radius: 5px;
    }
  }

  .sec-nav {
    display: none;
  }
}

@media (min-width: $hd) {
  .filters-nintendo {
    &__container {
      margin-top: 10px;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__items {
      margin-left: 20px;
      font-family: $section-titles-font;
      font-size: 2.2rem;
      color: $color-titles;
    }

    &__form-styles {
      border: 1px solid gray;
      background-color: $color-titles;
      width: 200px;
      height: 40px;
      border-radius: 5px;
    }
  }

  .catalog-games-nintendo {
    &__images {
      top: 430px;
    }

    &__images-r2 {
      top: 769px;
    }

    &__images-r3 {
      top: 1144px;
    }
  }
  .newsletter {
    &__image {
      background-image: url("/img/Newsletter_Home.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 20vh;
      width: 100%;
      margin-top: 30px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }

    &__title {
      font-family: $newsletter-title-font;
      font-size: 2.5rem;
      font-weight: $newsletter-title-weight;
      text-align: center;
      width: 25%;
    }

    &__text {
      font-family: $newsletter-title-font;
      font-size: 2rem;
      font-weight: $newsletter-text-weight;
      text-align: center;
      width: 60%;
    }

    &__email {
      position: absolute;
      margin-top: 30px;
      left: 785px;
      font-family: $newsletter-title-font;
      font-weight: 300;
      font-size: 1.3rem;
      border: 1px solid gray;
      width: 50%;
      height: 45px;
      border-radius: 5px;
    }
  }
}
