//---RESET STYLES---//
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #ecf3fe;
  min-height: 100vh;
}
